{% extends '../base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container" style="margin-bottom: 20px; margin-top:25px;">
    {% if messages %}
    <ul class="messages" style="color:green; padding-left:0px;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
        {% for i in prof %}
        <div class="col-3">
            <div class="card" style="width: 18rem; margin-bottom:10px;">
                <img height="250px" width="200px" src="{{i.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">S{{i.email}}</p>
                    <a href="{% url 'read' i.id  %}" class="btn btn-primary">See Profile</a>
                    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}