{% extends '../base.html' %}
{% block title %}Profile View{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="col-3 d-flex p-2 bd-highlight" style="margin-bottom:150px;margin-left:600px;">
    <div class="card" style="width: 18rem; margin-bottom:10px;">
        <img height="250px" width="200px" src="{{prof.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{prof.name}}</h5>
            <p class="card-text">{{prof.email}}</p>
            <a href="{% url 'update' prof.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete' prof.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}